@import "./variables";

.box {
  background-color: $c-white;
  border: 1px solid $c-black;
  width: 50%;
}

.box_title {
  text-align: center;
  text-transform: uppercase;
  padding: 1em 0;
}

.box_form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box_form_input {
  width: 60%;
}

.box_form_btn {

}