@import "./variables";

.box {
  background-color: $c-white;
  border: 1px solid $c-black;
  width: 50%;
}

.box_title {
  text-align: center;
  text-transform: uppercase;
  padding: 1em 0;
}

.box_form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box_form_input {
  width: 60%;
}

.box_form_btn {

}

// box_list
.box_list {
  display: flex;
  flex-direction: column;
  

}

.box_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  width: 60%;
  margin: 0 auto;
}