@import "./variables";

.box {
  background-color: $c-white;
  border: 1px solid $c-black;
  width: 50%;
}

.box_title {
  text-align: center;
  text-transform: uppercase;
  padding: 1em 0;
}

.box_form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box_form_input {
  width: 60%;
}

.box_form_btn {

}

// box_list
.box_list {
  margin: 0.5rem 0;
  li {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
  }
}

.buttons {
  flex: 1;
}

.product {
  flex: 2;
}

.line {
  background-color: #808080;

}

