$c-black: #000000;
$c-white: #ffffff;
$c-gray: hsl(212, 33%, 89%);
$c-gray-2: hsl(210, 31%, 80%);;
$-blue: hsl(205, 89%, 70%);
$-blue-2: hsl(205, 72%, 37%);
// fonts
$f-roboto: 'Roboto', sans-serif;
$f-font-size: ( "normal": 1rem, "small": 1.563rem, "medium": 1.953rem, "big": 2.441rem  );
$f-weight: ( "light": 300, "normal": 400, "medium": 500, "bold": 700 );
